## Pandas

pandas is one of the world's most popular Python library, used for everything from data manipulation to data analysis.

pandas is used for **tabular data** (data which has rows and columns)

### What can pandas do for us?

- Load Tabular Data 
- Search For Particular rows and columns
- Calculate all kinds of statistical methods.
-  Combine data from multiple sources

Run the following cell:

In [ ]:
!pip3 install pandas

**Importing pandas:**

In [1]:
import pandas as pd

**How do I load a CSV file using pandas?**

Let's mess around with a **Spotify** Dataset.

In [2]:
df = pd.read_csv("top50.csv")

**Viewing df**

In [36]:
df

      age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
0      56;"housemaid";"married";"basic.4y";"no";"no";...
1      57;"services";"married";"high.school";"unknown...
2      37;"services";"married";"high.school";"no";"ye...
3      40;"admin.";"married";"basic.6y";"no";"no";"no...
4      56;"services";"married";"high.school";"no";"no...
...                                                  ...
41183  73;"retired";"married";"professional.course";"...
41184  46;"blue-collar";"married";"professional.cours...
41185  56;"retired";"married";"university.degree";"no...
41186  44;"technician";"married";"professional.course...
41187  74;"retired";"married";"professional.course";"...

[41188 rows x 1 columns]

**Inspecting df**

In [ ]:
df.head()

In [ ]:
df.info()

## Selecting Data

### Subsetting A Column

In [ ]:
df['Genre']

### Subsetting multiple columns

In [ ]:
df[['Genre', 'Energy']]

- The `.loc` operator

Although selecting data with `[]` works, it's not necessarily the best way. 

Pandas' official documentation :


>The Python and NumPy indexing operators [] and attribute operator . provide quick and easy access to pandas data structures across a wide range of use cases. This makes interactive work intuitive, as there’s little new to learn if you already know how to deal with Python dictionaries and NumPy arrays. However, since the type of the data to be accessed isn’t known in advance, directly using standard operators has some optimization limits. For production code, we recommended that you take advantage of the optimized pandas data access methods exposed in this chapter.

In [ ]:
# select a row
df.loc[12]

In [ ]:
# select a cell
df.loc[12, 'Track.Name']

In [ ]:
#select a column
df.loc[:, 'Track.Name'].head()

Remeber how we could perform slicing on lists? 
We can do the same thing with `.loc`!

In [ ]:
# rows with label 2 to 5
df.loc[10:15]

In [ ]:
# columns between Track.Name and Genre
df.loc[:, 'Track.Name':'Genre'].head()

✨**Task**

- Open `tweets.csv` using pandas into a dataframe called `new`. 
- Inspect the dataset.
- Research how you can drop the NaN values. 
- Select the `text` column.
- Select the 100th row using `.loc`
- Select the cell on the 29th row on the **text** column.

In [28]:
#INSERT YOUR CODE HERE